swiper-container {
  
    width: 100%;
    height: 100%;
    
    }
    
    swiper-slide{
    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .custom-bg-color{
      
     --background: linear-gradient(0deg, #d69524 0%, #707070 100%);
      
      }
    
    
    .sp-bg-color{
    
    color: antiquewhite;  
    }
    
    .color-t{
    
      color: azure;
    }